
#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  /* background-color: #f8f9fc; */
  width: 100%;
  overflow-x: hidden;
}

.content{
  position: relative;
}
.container-fluid
 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top:1.5rem;
}

/*side bar*/
.sidebar {
  min-height: 100vh;
}
.sidebar.toggled {
  overflow: visible;
  width: 5.5rem !important;
}

.sidebar.toggled .nav-item .nav-link {
  text-align: center;
  padding: 0.7rem 0.2em;
  width: 5.5rem;
}
.sidebar.toggled .nav-item .nav-link span {
  font-size: 0.75rem;
  display: block;
  color: rgba(255, 255, 255, 0.3);
}

.sidebar .nav-item .nav-link i {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.3);
}

.sidebar .nav-item.active .nav-link i{color: rgba(255, 255, 255) !important;}
.sidebar .nav-item.active .nav-link span{color: rgba(255, 255, 255) !important;}

.sidebar.toggled .nav-item .nav-link:hover >* {
  color: rgba(255, 255, 255, 0.9) !important;
}

.bg-gradient-dark {
  background-color: #000000;
  background-image: linear-gradient(180deg, #000 10%, #353535 100%);
  background-size: cover;
}




/*col 추가*/
/* .col-xl-267{
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
} */
@media (min-width: 1200px) {
  /* .col-xl-267 {
    flex: 0 0 22.2222222222222%;
    max-width: 22.2222222222222%;
  } */
}

@media (min-width: 1700px) {
  .col-1700-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-1700-267{
    flex: 0 0 22.2222222222222%;
    max-width: 22.2222222222222%;
  }
}



hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.w-150px input{width: 150px !important;}
.modal-subtitle{margin-top: 3px; margin-left: 20px; color:wheat}



/*card*/
.card {border: 1px solid #e3e6f0;}


/*text*/
.text-xs {font-size: .7rem;}
.text-s {font-size: .8rem;}
.text-lg {font-size: 1.2rem;}


/*border-left*/
.border-left-warning { border-left: 0.5rem solid #f6c23e !important;}
.border-left-primary {border-left: 0.5rem solid #4e73df !important;}
.border-left-secondary {border-left: 0.5rem solid #858796 !important;}
.border-left-success {border-left: 0.5rem solid #1cc88a !important;}
.border-left-info {border-left: 0.5rem solid #36b9cc !important;}
.border-left-danger {border-left: 0.5rem solid #e74a3b !important;}
.border-left-light {border-left: 0.5rem solid #f8f9fc !important;}
.border-left-dark {border-left: 0.5rem solid #5a5c69 !important;}


/*login*/
.bg-login-image {
  background: url("../img/fire-truck_login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
}

.form-control-login{
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}
.shadow-light{box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175) !important;}
.btn-login{
  font-size:1.7rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
  border: #fff 2px solid !important;
  font-weight: bold;
  color:#fff;
}
.pt-10rem{padding-top: 10rem;}

/*pop*/
.h-880{height: 880px !important;}
.h-800{height: 800px !important;}
.h-31{height: 31px !important;}

/*home*/
.pad-vc2{padding:3px 0px !important;}
.chk-none{display: none;}
.drop-icon-none.dropdown-toggle::after{
display: none;
}
#carList{max-height: 500px !important;}
#seatBelt,#speedGauge{max-height: 100px;}
#mapMonitor{width:100%;height:595px;}
.carOverlay {position:relative;bottom:-32px;  width: 70px; text-align: center;
  right:10px;border-radius:6px;padding:5px; background-color: rgba(0, 0, 0, 0.5);color: #ffffff;font-size: 12px;
}
.carOverlay.select{background-color: rgb(23, 166, 115,0.8);}
.carOverlay.carFocus{background-color: rgba(233, 72, 107, 0.8);}
.seatEmpty{margin-right: 60px;}
.seatImg{width: 60px;height: 60px;}
.seatImg-sm{width: 40px;height: 40px;}
#speedGauge{position: relative; text-align: center;}
#speedGaugeText{ position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  text-align: center;}
.cusor-pointer{cursor: pointer;}
.card-h288{height: 210px;} 
.tableFixHead { overflow: auto; height: 100px; padding: 0rem 0.5rem !important;}
.tableFixHead thead th,.tableFixHead thead td { position: sticky; top: 0; z-index: 1; }
#seatBeltMulti table,#speedMulti table{ border-collapse: separate; border-spacing: 0 5px;}
.seatBeltInfoTable tr,.infoListTable tr{vertical-align: middle;}
.bottom-line2{border-bottom: 2px white solid }
/* .seatBeltNemo{
  margin-right: 10px;
  padding: 5px;
  background-color: #17a673;
} */

.seatBeltNemo1,.seatBeltNemo2,.seatBeltNemo3,.seatBeltNemo4,.defaultSeatBeltNemo{
  border: 3px solid #ffffff;
  margin-right: 3px;
  padding:0px 9px;
}
.seatBeltNemo2{
  border: 3px solid #36fd58;
}
.seatBeltNemo3{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="rgb(255,255,255)" stroke-width="3" /></svg>')
}
.seatBeltNemo4{
  border: 3px solid #36fd58;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="rgb(0,255,0)"  stroke-width="3" /></svg>')
}
.space{font-size: 13px;}

  
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}

.sm-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.sm-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.sm-scrollbar::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.infoListTable.table>:not(caption)>*>* {
  padding: 0rem 0rem;
}

.btn-ssm{height: 25px; font-size: 12px;}
.btn-group-sm>.btn, .btn-ssm {
  background-color: #3B3B3B;
  color:white;
  --bs-btn-padding-y: 0.1rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.85rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
  border: 0.1px solid  rgb(133, 133, 133);
}
.btn-group-sm>.btn, .btn-ssm:hover{
  background-color: #3B3B3B;
  color:white;
  border: 0.1px solid  rgb(188, 188, 188);
}
.selectDropUl .custom-control-label{font-size: 13px;}


/*path*/
#mapPath{width:100%;height:730px;position:relative;overflow:hidden;}
.map_cover{text-align:center; table-layout:fixed;display:table;position: absolute; width: 97.3%; height:731px !important;  background-color: rgba(58, 58, 58, 0.3);top: 16px; z-index: 2;}
.map_cover .map_cover_text{display:table-cell;vertical-align:middle;color:#fff;}
.map_cover .lodingText{font-size: 40px;}
.contentTable tbody tr{border:1px solid #e3e6f0; cursor: pointer;}
.selectTr td{background-color: #17a673; color:#fff}
.slideMe{ display: none; max-height: 700px; overflow: auto; cursor: default !important;}

/*statistics*/
.h680{height: 665px;}
.searchTable{border:2px solid #858796; width:100%; font-size:15px;}
.searchTable td{padding-top:5px; padding-bottom: 5px; text-align: center; border-right: 1px solid #858796; border-bottom: 1px solid #858796;}
.searchTable td select{width: 95%;}
.searchTable td input{width: 46%;}
.searchTable .searchBtn{width: 100%; height: 60px;}
.searchTable .periodTd{cursor: pointer;}
.expandIcon{ padding: 5px 10px; cursor: pointer;}
.excelBtn{cursor: pointer;}
.customLegend {
  padding: 0px 2px;
  /* background-color: #17a673; */
  height: 20px;
  text-align: center;
  font-size: 12px;
  color:rgb(221, 221, 221);
  margin :2px 4px;
  cursor: pointer;
}


/*carData*/
.btnSelect{
  border-radius: var(--bs-border-radius);
  border-color: transparent;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0.375rem 0.75rem;
  background-color: var(--bs-btn-bg);
  cursor: pointer;
  vertical-align: middle;
  color: var(--bs-body-color);
}
.downModal{color: white; background-color: transparent; border: 0px;font-size: 12px;}
.downLoadDiv{
  height: 100px;
  background-color: white; 
  border-top-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  padding: 10px;
  font-size: 15px;
}
.downLoadDiv span{color:#0d6efd}

.btn-custom{border: 1px solid white; --bs-btn-hover-border-color:white; }
.btn-custom:hover{ color:white}
.h100per{height: 100%;} 
.btn-custom option{background-color: #212529; border: 2px solid white;}
#carSelectDropdownUl label{font-size: 15px;}
#carSelectDropdownBtn{width: 127px;}

.customLegendDisable{
  background-color: #656565 !important;
  color:black;
  text-decoration: line-through;
}

.customLegendDiv{
  max-height: 45px;
}

.customLegendDiv ul {
  list-style:none;
  padding-inline-start: 0px;
}

.customLegendDiv li {
  float: left;
}

/*carDrive*/
.carDriveDetailTable td{padding: 10px; }
.carDriveDetailTable th{padding: 10px;width: 150px; background-color: #373c41;}
.driveRegTable{width: 100%;}
.driveRegTable tr{border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);}
.driveRegTable td{padding:10px 0px;}
.finalDistanceTd{font-size: 13px; padding: 0px !important;  padding-top: 5px !important;color: wheat;}
.driveKeyTd{width: 20px;}


/*popDrive*/
.approvalTableTd{float:right;}
.approvalTable tr{text-align: center;}
.approvalTable td{border:1px solid #000; width: 100px;}
.approvalTable tr:first-child td{height: 30px;}
.approvalTable tr:nth-child(2) td{height: 85px;}




/*document-modal*/
/*.doc-display{width: 800px; height: 900px; border: 1px solid #000; margin: 0 auto;}*/

/*common - group table*/
.groupTable{width: 100% !important; font-size: 14px; text-align: center;}
.groupTable thead td{padding:7px; font-weight: bold; background-color: #3f457f; color:#fff}
.groupTable tr{cursor: default !important;}
.groupTable td{border:1px solid #e3e6f0; padding-top: 6px; padding-bottom: 6px;}
.groupTable .tdRegDate{width: 115px;}
.pagination{font-size: 13px;}
/* div.dataTables_wrapper div.dataTables_paginate ul.pagination{justify-content:flex-start !important} */
.dataTables_info{font-size: 13px;}

.groupTable .tdIconBtn{width: 70px;}


/*common - data table*/
div.dataTables_wrapper div.dataTables_info{padding-top: 0px !important;}
.page-center .pagination{justify-content:center !important;}
.page-left .pagination{justify-content:start !important;}
.buttons-excel,.buttons-csv{
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: green;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
#dataTable_filter input{
  font-size: 1.1rem;
}
.text-right{text-align: right !important;}
.dt-buttons{text-align: right;}
.btn-add{margin-right: 10px;}
.ovf{overflow: auto;}
.ovf-x{overflow-x: auto; }
.ovf-y{overflow-y: auto; }
.w70px{width: 70px !important;}
.w100px{width: 100px !important;}
.min-w100{min-width: 100px;}
.min-w500{min-width: 500px;}
.min-w800{min-width: 800px;}
.min-w1000{min-width: 1000px;}
.min-h800{min-height: 800px !important;}
.w-203px{width: 203px;}
.paginate_button.page-item.previous,.paginate_button.page-item.next{
  display: none !important;
}
.page-item .page-link:hover {
  z-index: 2;
  color: #224abe;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
  box-shadow: none;
}

.page-item.disabled .page-link {
  color: #858796;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dddfeb;
}

.page-item .page-link {
  padding: 0.2rem 0.6rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #4e73df;
  background-color: #fff;
  border: 1px solid #dddfeb;
  box-shadow: none;
  font-size: 15px;
}

/*common */
.under-l{ text-decoration: underline; cursor: pointer;}
.btn-info {
  color: #fff;
  background-color: #268b9b;
  border-color: #268b9b;
}
.btn-block {
  display: block;
  width: 100%;
}
  
.close {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  background-color: transparent;
  border: 0;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.ai-fs{align-items: flex-start;}

.close:hover {
  opacity: 1 !important;
  text-decoration: none;
}


#load{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position:fixed;
  display: block;
  background:rgba(59, 59, 59, 0.4);
  z-index: 99;
  text-align: center;
}



#load >.spinner-border{
  position: absolute;
  width: 4rem;
  height: 4rem;
  top:40%;
  left: 50%;
  z-index: 100;
}

/* text */
.tac{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}



@page {margin:0 !important;}
@media print {
  #printBtn { display:none; }
}